h1{
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 1.25em;
    font-weight: 500;

}
body{
    font-family: monospace;
    color: #333;}
    
    .item{
        flex: 1;
        margin: 5px;
        background-color: lightseagreen;
        text-align: center;
        font-size: 1.5em;
        padding: 0 11px;
    }
    .container{
        display: flex;
        max-width: 420px;
        margin: 0 auto;
        border: 1px solid black; 
        height: 300px;
        flex-wrap: wrap;
 }
 .stretch{
    align-content: stretch;
 }
 .flex-start{
    align-content: flex-start;
 }
 .flex-end{
    align-content: flex-end;
 }
 .center{
    align-content: center;
 }
 .space-between{
    align-content: space-between;
 }
 .space-around{
    align-content: space-around;
 }