h1{
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 1.25em;
    font-weight: 500;

}
body{
    font-family: monospace;
    color: #333;
}
.item{
    flex: 1;
    margin: 5px;
    background-color: tomato;
    text-align: center;
    font-size: 1.5em;
}
.container{
    display: flex;
    max-width: 360px;
    margin: 0 auto;
    border: 1px solid lightskyblue;
}
.row-nowrap{
    flex-flow: row nowrap;
}
.row-wrap{
    flex-flow: row wrap;
}
.column-nowrap{
    flex-flow: column nowrap;
}